openapi: 3.1.0
info:
  title: Tebex Headless API
  description: |-
    The headless API is designed for implementing your own store frontend with the data of your store. You are able to call the Headless API directly from a web browser (such as within an SPA), from a backend server, or in-game GUIs.
  termsOfService: https://tebex.io/terms-creator-agreement
  contact:
    email: tebex-integrations@overwolf.com
  license:
    name: MIT
    url: https://opensource.org/license/mit
  version: 2.0.0
servers:
  - url: https://headless.tebex.io/api/accounts/{token}
    description: Main API scoped to public token
    variables:
      token:
        default: ""
        description: The store's public token
tags:
  - name: Headless
    description: Main API scoped to public token
  - name: Baskets
    description: Endpoints requiring only a basket ident with no token
paths:
  /:
    get:
      tags:
      - Headless
      operationId: getWebstore
      summary: Get the webstore's information
      description: |- 
          Gets the webstore associated with the provided token
      responses:
        '200':
          description: |- 
            Successful response returns the webstore's information.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebstoreResponse"
  /pages:
    get:
      tags:
      - Headless
      operationId: getCustomPages
      summary: Get custom pages defined for the webstore.
      description: |-
        Gets a list of custom pages associated with the webstore. These contain a `content` variable with the HTML content of the page.
      responses:
        '200':
          description: |-
            Successful response returns the webstore's pages.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CMSPagesResponse"

  /baskets/{basketIdent}:
    get:
      tags:
      - Headless
      operationId: getBasket
      summary: Get a basket
      parameters:
        - $ref: "#/components/parameters/basketIdent"
      description: |- 
          Gets a basket associated with the provided identifier.
      responses:
        '200':
          description: |- 
            Successful response returns the basket information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketResponse'
  /baskets:
    post:
      tags:
      - Headless
      operationId: createBasket
      summary: Create a new basket
      description: |- 
          Creates a new basket for use during checkout.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                complete_url:
                  type: string
                  description: A URL the user can return to when checkout is completed.
                  example: "https://example.tebex.io/thank-you"
                cancel_url:
                  type: string
                  description: A URL the user can return to when cancelling checkout.
                  example: "https://tebex.io/"
                custom:
                  type: object
                  description: Custom data you wish to associate with the basket. This data will be included with webhook responses and GET requests associated with the Basket.
                  example: {
                    "foo": "bar"
                  }
                complete_auto_redirect:
                  type: boolean
                  example: true
                  description: True if the user should automatically be redirected to the relevant complete/cancel URL #TODO
      responses:
        '200':
          description: |- 
            Successful response returns the basket information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketResponse'
        '422':
          description: The provided webstore ID is invalid.
  /baskets/{basketIdent}/auth?returnUrl={returnUrl}:
    get:
      tags:
      - Headless
      operationId: getBasketAuthUrl
      summary: Get auth links for basket
      parameters:
        - $ref: "#/components/parameters/basketIdent"
        - in: path
          name: returnUrl
          description: The URL you would like to redirect the user to after successful basket authentication.
          schema:
            type: string
            example: https://example.tebex.io/
          required: true
      description: |- 
          Fetches a basket's auth URL. The player should be directed here in order for them to authorize their account.
          When complete, they will be returned to the provided `returnUrl` and the basket will be authorized from that moment onwards.
      responses:
        '200':
          description: |- 
            Successful response returns the auth provider options and URLs of the sign-in link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketAuthResponse'
        '422':
          description: The provided webstore ID or basket ID is invalid.

  /baskets/{basketIdent}/dynamic-packages:
    put:
      tags:
      - Headless
      operationId: createDynamicPackage
      summary: Add packages to a dynamic category for a basket.
      parameters:
        - $ref: "#/components/parameters/basketIdent"
      description: |-
          Populates a dynamic category with custom packages for the given basket. Dynamic categories are created in the creator panel with the type `dynamic`, and are typically populated in response to a `basket.authenticated` webhook.

          Once created, the packages can be fetched using the category endpoints with both `includePackages=1` and `basketIdent` provided.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicPackagesRequest'
      responses:
        '200':
          description: |-
            Successful response confirms the dynamic packages were created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynamicPackagesResponse'
        '422':
          description: The provided request is invalid. The error response will include detail as to which parameter failed validation.
  /categories:
    get:
      tags:
      - Headless
      operationId: getCategories
      summary: Get all categories
      description: |- 
          Gets all categories from a webstore. This does not include package information. To include package information, add `?includePackages=1` to the URL.
      responses:
        '200':
          description: |- 
            Successful response returns a list of category information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
                      
  /categories?includePackages=1:
    get:
      tags:
      - Headless
      operationId: getCategoriesIncludePackages
      summary: Gets all categories and packages
      description: |- 
          Gets all categories from a webstore including packages.
      responses:
        '200':
          description: |- 
            Successful response returns a list of category information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'

  /categories?usernameId={usernameId}&includePackages=1:
    get:
      tags:
      - Headless
      operationId: getUserTieredCategories
      security:
        - basicAuth: []
      summary: Get user's tiered categories
      parameters:
        - in: path
          name: usernameId
          schema:
              type: integer
              example: 76561198042467022
          required: true
      description: |- 
          Gets all categories from the webstore, returning active tier information for the given player.
      responses:
        '200':
          description: |- 
            Successful response returns a list of category information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'

  /categories?includePackages=1&basketIdent={basketIdent}:
    get:
      tags:
      - Headless
      operationId: getDynamicCategories
      summary: Get Dynamic Categories
      parameters:
        - $ref: "#/components/parameters/basketIdent"
      description: |-
          Gets all categories from a webstore including packages. When `basketIdent` is provided, dynamic categories are populated with the packages associated with that basket.

          If a basket identifier is not provided, dynamic categories will be empty as the basket is required to relate packages to the category.
      responses:
        '200':
          description: |-
            Successful response returns a list of category information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'

  /categories/{categoryId}:
    get:
      tags:
      - Headless
      operationId: getCategory
      summary: Get specific category
      parameters:
        - $ref: "#/components/parameters/basketIdent"
      description: |- 
          Gets information about a category and returns the packages in that category.
      responses:
        '200':
          description: |- 
            Successful response returns the category without package information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'

  /categories/{categoryId}?includePackages=1:
    get:
      tags:
      - Headless
      operationId: getCategoryIncludePackages
      summary: Get a category with all packages
      parameters:
        - in: path
          name: categoryId
          required: true
          schema:
            type: string
            example: 127244343
          description: The ID or slug of the category to fetch.
      description: |-
          Gets information about a category and returns the packages in that category.
      responses:
        '200':
          description: |-
            Successful response returns the category with package information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'

  /categories/{categoryId}?includePackages=1&basketIdent={basketIdent}:
    get:
      tags:
      - Headless
      operationId: getCategoryIncludeDynamicPackages
      summary: Gets a specific category including packages, populating a dynamic category for the given basket.
      parameters:
        - in: path
          name: categoryId
          required: true
          schema:
            type: string
            example: 1234
          description: The ID or slug of the category to fetch.
        - $ref: "#/components/parameters/basketIdent"
      description: |-
          Gets information about a category and returns the packages in that category. When the category is dynamic and `basketIdent` is provided, the category is populated with the packages associated with that basket.

          If a basket identifier is not provided, a dynamic category will be empty as the basket is required to relate packages to the category.
      responses:
        '200':
          description: |-
            Successful response returns the category with package information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'

  /packages/{packageId}:
    get:
      tags:
      - Headless
      operationId: getPackage
      summary: Get package
      parameters:
        - in: path
          name: packageId
          schema:
            type: string
            example: 1272441812
          required: true
          description: The package's ID or slug.
      description: |-
          Gets a package from a webstore by its ID or slug.

          Note: this endpoint does not support packages belonging to dynamic categories. Use the category endpoints with `includePackages=1` and `basketIdent` to fetch dynamic packages.
      responses:
        '200':
          description: |- 
            Successful response returns the package information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageResponse'
  /packages:
    get:
      tags:
      - Headless
      operationId: getAllPackages
      summary: Get all packages
      description: |-
          Gets all packages from a webstore.

          Note: this endpoint does not support packages belonging to dynamic categories. Use the category endpoints with `includePackages=1` and `basketIdent` to fetch dynamic packages.
      responses:
        '200':
          description: |-
            Successful response returns a list of package information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageResponse'
  /packages?ipAddress={ipAddress}:
    get:
      tags:
      - Headless
      operationId: getAllPackagesWithAuthedIP
      summary: Get packages
      parameters:
        - in: path
          name: ipAddress
          required: true
          schema:
            type: string
            example: 127.0.0.1
          description: An IP address can be provided with authenticated requests
      description: |- 
          Gets all packages from a webstore.
      responses:
        '200':
          description: |- 
            Successful response returns a list of package information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageResponse'
        '422':
          description: The provided request is invalid.
  /packages?basketIdent={basketIdent}:
    get:
      tags:
      - Headless
      operationId: getPackagesForBasket
      summary: Get packages available for basket
      parameters:
        - $ref: "#/components/parameters/basketIdent"
      description: |- 
          Gets all packages available to the provided basket.
      responses:
        '200':
          description: |- 
            Successful response returns a list of package information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageResponse'
        '422':
          description: The provided request is invalid.
  /packages?ipAddress={ipAddress}&basketIdent={basketIdent}:
    get:
      tags:
      - Headless
      operationId: getAllPackagesWithAuthedIPAndBasket
      summary: Get packages available for IP and basket
      parameters:
        - $ref: "#/components/parameters/basketIdent"
        - in: path
          name: ipAddress
          required: true
          schema:
            type: string
            example: 127.0.0.1
          description: An IP address can be provided with authenticated requests.
      description: |- 
          Gets all packages from a webstore.
      responses:
        '200':
          description: |- 
            Successful response returns a list of package information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageResponse'
        '422':
          description: The provided request is invalid.
  /baskets/{basketIdent}/creator-codes:
    post:
      tags:
      - Headless
      operationId: applyCreatorCode
      summary: Apply a creator code
      parameters:
        - $ref: "#/components/parameters/basketIdent"
      description: |- 
          Applies a creator code to a basket.
      requestBody:
        description: Provide a `creator_code` to apply to the basket.
        content:
          application/json:
            schema:
              type: object
              properties:
                creator_code:
                  type: string
                  example: Academy10
      responses:
        '200':
          description: |- 
            Successful response returns a success object
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Creator code applied successfully
        '422':
          description: The provided request is invalid. The error response will include detail as to which parameter failed validation.
  /baskets/{basketIdent}/creator-codes/remove:
    post:
      tags:
      - Headless
      operationId: removeCreatorCode
      summary: Removes the creator code from the basket.
      parameters:
        - $ref: "#/components/parameters/basketIdent"
      description: |- 
          Removes the creator code from the basket.
      responses:
        '200':
          description: |- 
            Creator code removed successfully.
        '422':
          description: The provided request is invalid. The error response will include detail as to which parameter failed validation.
  /baskets/{basketIdent}/giftcards:
    post:
      tags:
      - Headless
      operationId: applyGiftCard
      summary: Apply a gift card
      parameters:
        - $ref: "#/components/parameters/basketIdent"
      description: |- 
          Applies a gift card to the basket.
      requestBody:
        description: Provide a `card_number` to apply to the basket.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GiftCard'
      responses:
        '200':
          description: |- 
            Successful response returns a success message.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Gift card applied successfully
  /baskets/{basketIdent}/giftcards/remove:
    post:
      tags:
      - Headless
      operationId: removeGiftCard
      summary: Remove a gift card from the basket.
      parameters:
        - $ref: "#/components/parameters/basketIdent"
      description: |- 
          Removes a gift card from the basket.
      requestBody:
        description: Provide the `card_number` to remove from the basket.
        content:
          application/json:
            schema:
              type: object
              properties:
                card_number:
                  type: string
                  example: "0127 0244 7210 1111"
      responses:
        '200':
          description: |- 
            Gift card removed successfully.
        '422':
          description: The provided request is invalid. The error response will include detail as to which parameter failed validation.
  /baskets/{basketIdent}/coupons:
    post:
      tags:
      - Headless
      operationId: applyCoupon
      summary: Apply a coupon
      parameters:
        - $ref: "#/components/parameters/basketIdent"
      description: |- 
          Applies a coupon to a basket.
      requestBody:
        description: Provide a `coupon_code` to apply to the basket.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyCouponRequest'
      responses:
        '200':
          description: |- 
            Successful response returns a success message.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Coupon applied successfully

  /baskets/{basketIdent}/coupons/remove:
    post:
      tags:
      - Headless
      operationId: removeCoupon
      summary: Remove a coupon from the basket.
      parameters:
        - $ref: "#/components/parameters/basketIdent"
      description: |- 
          Removes a coupon code from a basket
      requestBody:
        description: Provide a `coupon_code` to remove from the basket.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyCouponRequest'
      responses:
        '200':
          description: |- 
            Successful response.
        '422':
          description: The provided request is invalid. The error response will include detail as to which parameter failed validation.


  /{basketIdent}/packages:
   servers:
     - url: https://headless.tebex.io/api/baskets
       description: Basket-only API, account token not required
   post:
    tags:
    - Baskets
    operationId: addBasketPackage
    summary: Add package to basket
    parameters:
      - $ref: "#/components/parameters/basketIdent"
    description: |-
        Add a package with the given ID to the basket.

        To add a package belonging to a dynamic category, set `dynamic` to `true`. Without this property the API will treat the request as a normal package ID.
    requestBody:
      content:
        application/json:
          schema:
            type: object
            required:
              - package_id
              - quantity
            properties:
              package_id:
                type: string
                example: 6276316
              quantity:
                type: integer
                example: 1
              dynamic:
                type: boolean
                example: false
                description: Set to `true` when adding a package that belongs to a dynamic category. When omitted, the API acts as if a normal package ID was provided.
    responses:
      '200':
        description: |- 
          Successful response.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Basket'
      '422':
        description: The provided request is invalid. The error response will include detail as to which parameter failed validation.
  /{basketIdent}/packages/remove:
    servers:
      - url: https://headless.tebex.io/api/baskets
        description: Basket-only API, account token not required
    post:
      tags:
      - Baskets
      operationId: removeBasketPackage
      summary: Remove a package from a basket
      parameters:
        - $ref: "#/components/parameters/basketIdent"
      description: |- 
          Remove the given package ID from the basket.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                package_id: 
                  type: string
                  example: 6276316
      responses:
        '200':
          description: |- 
            Successful response returns the basket.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Basket'
        '422':
          description: The provided request is invalid. The error response will include detail as to which parameter failed validation.
  /{basketIdent}/packages/{packageId}:
    servers:
      - url: https://headless.tebex.io/api/baskets
        description: Basket-only API, account token not required
    put:
      tags:
      - Baskets
      operationId: updatePackageQuantity
      summary: Update package quantity
      parameters:
        - $ref: "#/components/parameters/basketIdent"
      description: |- 
          Sets the quantity of the given item in the basket. The user must be logged in before the quantity can be changed.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
                  example: 1
      responses:
        '200':
          description: |- 
            Successful response.
        '422':
          description: The provided request is invalid. The error response will include detail as to which parameter failed validation.
  /tiers/{tierId}:
    patch:
      tags:
      - Headless
      operationId: updateTier
      security:
        - basicAuth: []
      summary: Update user's tier to a new package
      parameters:
        - in: path
          name: tierId
          required: true
          schema:
            type: integer
            example: 6276316
          description: The tier identifier
      description: |-
        Updates a tier to a new package. A recurring payment updated webhook is sent when an update is successful.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                package_id:
                  type: integer
                  example: 6834822
      responses:
        '200':
          description: 
            Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateTierResponse"
  /sidebar:
    get:
      tags:
      - Headless
      operationId: getSidebar
      summary: Retrieves the available sidebar modules.
      parameters:
        - in: path
          name: token
          required: true
          schema:
            type: string
            example: some-uuid
          description: The webstore identifier.
      description: |-
        Retrieves the available sidebar modules configured for the store.
      responses:
        '200':
          description: 
            Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModulesResponse"
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  parameters:
    basketIdent:
      name: basketIdent
      in: path
      required: true
      schema:
        type: string
        example: c00244-d2ac2e77418a55b25292a6bc7a719ad9c529ba2c
      description: The basket identifier.
  schemas:
    Webstore:
      type: object
      properties:
        id:
          type: integer
          example: 1
        description:
          type: string
          description: Store description in HTML format
          example: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum eget tellus et cursus. Pellentesque vel vehicula velit, sit amet tincidunt diam. Aliquam sit amet fermentum lorem.</p>"
        name:
          type: string
          description: Name of the store
          example: "Minecraft Store"
        webstore_url:
          type: string
          format: uri
          description: URL of the webstore
          example: "https://example.tebex.io"
        currency:
          type: string
          description: Currency used in the store
          example: "USD"
        lang:
          type: string
          description: Language of the store
          example: "en"
        logo:
          type: string
          format: uri
          description: URL of the store's logo
          nullable: true
        platform_type:
          type: string
          description: Platform type for the store
          example: "Minecraft: Java Edition"
        platform_type_id:
          type: string
          example: minecraft
        disabled:
          type: boolean
          description: True if the store is disabled.
          example: false
        created_at:
          type: string
          format: date-time
          description: The date and time when the store was created
          example: "2023-05-25T09:49:37+00:00"
    WebstoreResponse:
      type: object
      properties:
        data:
          type: object
          $ref: '#/components/schemas/Webstore'
      description: Wrapped webstore information in a "data" object.
    UpdateTierResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Tier successfully upgraded, please allow a few moments for your changes to take effect."
    CMSPagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CMSPage'
    CMSPage:
      type: object
      properties:
        id:
          type: integer
          example: 127
        created_at:
          type: string
          format: date-time
          example: "2023-11-13T20:59:54.000000Z"
        updated_at:
          type: string
          format: date-time
          example: "2023-11-13T20:59:54.000000Z"
        account_id:
          type: integer
          example: 244
        title:
          type: string
          example: About
        slug:
          type: string
          example: about
        private:
          type: boolean
          example: false
        hidden:
          type: boolean
          example: false
        disabled:
          type: boolean
          example: false
        sequence:
          type: boolean
          example: false
        content:
          type: string
          example: "<p>This is a custom page which you can add your own content to if you wish.</p>\n\n<p>You can modify your pages by going to <strong>Webstore</strong> &gt; <strong>Pages</strong> from within the\nTebex Store control panel.</p>\n\n<p>Make sure to take a look at our <a href=\"https://help.tebex.io\" rel=\"noreferrer\" target=\"_blank\">knowledgebase</a>\nfor helpful guides on getting started.</p>"
    ErrorResponse:
      type: object
      properties:
        type: 
          description: A URI reference [RFC3986] that identifies the
            problem type.  This specification encourages that, when
            dereferenced, it provide human-readable documentation for the
            problem type (e.g., using HTML [W3C.REC-html5-20141028]).  When
            this member is not present, its value is assumed to be
            "about:blank".
        title: 
          type: string
          description: A short, human-readable summary of the problem type.  It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization
          example: Bad Request
        status:
          type: integer
          description: The HTTP status code gen by the origin server for the occurrence of the problem.
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          example: Parameter 'first_name' is required.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced
          example: /path/to/ref
    GiftCard:
      type: object
      properties:
        card_number:
          type: string
          example: "0127 0244 7210 1111"
    ApplyCouponRequest:
      type: object
      properties:
        coupon_code:
          type: string
          example: "Academy10"
    Coupon:
      type: object
      properties:
        code:
          type: string
          example: "Academy10"
    BasketAuthResponse:
      type: array
      items:
        type: object
        properties:
          name:
            type: string
            example: "FiveM"
          url:
            type: string
            example: "https://ident.tebex.io/"
    BasketResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Basket'
    Basket:
      type: object
      properties:
        id:
          type: string
          example: 244127617
        ident:
          type: string
          example: 1a-55fff4107740a1f40d844ff89607557f45bfafb3
        complete:
          type: boolean
          example: false
        email:
          type: string
          example: support@tebex.io
          nullable: true
        username:
          type: string
          example: null
          nullable: true
        coupons:
          type: array
          items:
            $ref: '#/components/schemas/Coupon'
        giftcards:
          type: array
          items:
            $ref: '#/components/schemas/GiftCard'
        creator_code:
          type: string
          description: The creator code is used to share a percentage of the payment with another party. See more about creator codes at https://docs.tebex.io/creators/tebex-control-panel/engagement/creator-codes
        cancel_url:
          type: string
          example: https://tebex.io
        complete_url:
          type: string
          nullable: true
          example: null
        complete_auto_redirect:
          type: boolean
          example: false
        country:
          type: string
          example: US
          description: A two-character country code
        ip:
          type: string
          example: 127.0.0.1
        username_id:
          type: integer
          example: 127244
        base_price:
          type: number
          format: float
          example: 1.27
        sales_tax:
          type: number
          format: float
          example: 0.11
        total_price:
          type: number
          format: float
          example: 1.38
        currency:
          type: string
          description: A 3 character currency code
          example: USD
        packages:
          type: array
          items:
            $ref: '#/components/schemas/BasketPackage'
        custom: 
          type: object
          nullable: true
          example: 
            foo: bar
            ref: 1234
        links:
          $ref: "#/components/schemas/BasketLinks"
    BasketLinks:
      type: object
      properties:
        payment:
          type: string
          description: The `links.payment` property is only returned if the basket has been paid for and a payment exists with the `complete`,`refund`, or `chargeback` status.
          example: https://checkout.tebex.io/api/payments/tbx-12345
        checkout:
          type: string
          description: The `links.checkout` property is only returned if the basket has not been paid, and is the URL to send the customer to make payment
          example: https://checkout.tebex.io/checkout/1a-55fff4107740a1f40d844ff89607557f45bfafb3
    CategoryResponse:
      type: object
      properties:
        data:
          type: array
          items: 
            $ref: "#/components/schemas/Category"
    Category:
      type: object
      properties:
        id:
          type: integer
          example: 2678660
        name:
          type: string
          example: "Test"
          description: User-friendly name of the category
        slug:
          type: string
          description: Short identifier slug for the category
          nullable: true
        parent: 
          type: object
          description: Parent category, if applicable
          format: Category
          nullable: true
        tiered:
          type: boolean
          description: True if this is a tiered category
          example: false
        active_tier:
          description: If this is a tiered category and the usernameId is provided, this will be the active tier information for this category.
          nullable: true
          $ref: "#/components/schemas/Tier"
        description:
          type: string
          description: HTML description of the category
        packages:
          type: array
          description: Packages within the category. For dynamic categories, packages use the `DynamicPackage` shape and are only populated when a `basketIdent` is provided.
          items:
            $ref: "#/components/schemas/Package"
#            anyOf:
#              - $ref: "#/components/schemas/Package"
##              - $ref: "#/components/schemas/DynamicPackage"
          nullable: true
        order:
          type: integer
          example: 1
          description: The numeric order in which to display the category.
        display_type:
          type: string
          enum: [list, grid]
          description: How the category should be displayed
        image_url:
          type: string
          format: uri
          nullable: true
          description: URL of the category image, if set.
          example: null
        dynamic:
          type: boolean
          description: True if this is a dynamic category. Dynamic categories are populated with custom packages per-basket using the Add Dynamic Packages endpoint, and their packages can only be fetched by providing a `basketIdent`.
          example: false
    PackageResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Package'
    Package:
      type: object
      properties:
        id:
          type: integer
          example: 6276316
        name:
          type: string
          example: 'test package 101'
        description:
          type: string
          example: '<p>this is just a test. only a test. nothing more.</p>'
        image:
          type: string
          nullable: true
          example: null
        type:
          type: string
          example: 'single'
        category:
          type: object
          properties:
            id:
              type: integer
              example: 2678660
            name:
              type: string
              example: 'Packages'
        base_price:
          type: number
          format: float
          example: 5
        sales_tax:
          type: number
          format: float
          example: 0
        total_price:
          type: number
          format: float
          example: 5
        currency:
          type: string
          example: 'USD'
        prorate_price:
          type: number
          format: float
          description: If this package is part of a tiered category, this is the difference on upgrade pricing from the current active tier.
          nullable: true
        discount:
          type: number
          format: float
          example: 0
        disable_quantity:
          type: boolean
          example: false
        disable_gifting:
          type: boolean
          example: false
        expiration_date:
          type: string
          nullable: true
          format: date-time
          example: null
        media:
          type: array
          items:
            $ref: '#/components/schemas/PackageMedia'
        order:
          type: integer
        slug:
          type: string
        user_limit:
          type: integer
        creator_meta_data:
          type: object
        options:
          type: array
        variables:
          type: array
        created_at:
          type: string
          format: date-time
          example: '2024-05-21T18:09:17+00:00'
        updated_at:
          type: string
          format: date-time
          example: '2024-05-21T18:09:17+00:00'
    BasketPackage:
      type: object
      description: A package within an existing basket.
      properties:
        id:
          type: integer
          description: The package ID
        description:
          type: string
          example: "100 coins added to your character"
        image:
          type: string
          example: "https://tebex.io/path/to/image.png"
        name:
          type: string
          example: "100 Coins"
        slug:
          type: string
          example: "100-coins"
        in_basket:
          type: object
          properties:
            quantity:
              type: integer
              description: The quantity of `package` in this basket. This is not the total quantity of overall items in the basket.
              example: 2
            price:
              type: number
              format: float
            gift_username_id:
              type: string
              description: The username id of the user this package is gifted to
            gift_username:
              type: string
              description: The username of the user this package is gifted to.
        type:
          type: string
          enum: [single,subscription]
          example: single
          description: The type of payment, either `single` for one-time payments or `subscription`.
        revenue_share:
          type: array
          description: An array of payment destination objects describing how the purchase should be split between multiple wallets. **Only available with pre-agreement from Tebex.**
          items:
            $ref: '#/components/schemas/RevenueShare'
    RevenueShare:
      type: object
      properties:
        wallet_ref:
          type: string
          example: some_wallet_reference
        amount:
          type: number
          example: 0.50
          description: A float (decimal) value representing the amount of this payment in your account currency that is credited to the `wallet_ref`
        gateway_fee_percent:
          type: number
          example: 50.00
          description: A float (decimal) value representing the percentage of the gateway fee that should be dedicated from this wallet’s revenue share. This optional value can be anywhere between 0 - 100.
    Tier:
      type: object
      properties:
        id:
          type: integer
          example: 40796
        created_at:
          type: string
          format: date-time
          description: The date and time when the tier became active
          example: "2025-05-14T13:48:56.000000Z"
        username_id:
          type: string
          description: The user's username ID. For Steam, this is a numeric representation of their Steam64ID
        package:
          $ref: '#/components/schemas/Package'
        active:
          type: boolean
          description: True if the tier is currently active.
          example: true
        recurring_payment_reference:
          type: string
          description: The ID of the recurring payment this tier is attached to.
          example: tbx-r-757925142
        next_payment_date:
          type: string
          format: date-time
          description: The date and time of the next payment for this tier.
          example: "2025-06-14T13:48:56+00:00"
        status:
          type: object
          properties:
            id:
              type: integer
              example: 2
            description:
              type: string
              example: Active
        pending_downgrade_package:
          type: object
          properties:
            id:
              type: integer
              example: 6834820
            name:
              type: string
              example: Bronze
          description: The package this tier is downgrading to if a downgrade is pending.
          nullable: true
    
    PackageMedia:
      properties:
        type:
          type: string
          enum: [video, image]
          example: image
        name:
          type: string
          description: A file name for the media, if applicable.
          example: e875d1010b2edb7f8c376728ab9dedfffe5bd012.jpg
          nullable: true
        url:
          type: string
          description: The URL of the package media.
          example: https://dunb17ur4ymx4.cloudfront.net/packages/images/e875d1010b2edb7f8c376728ab9dedfffe5bd012.jpg
        featured:
          type: boolean
          description: True if this media should be featured more prominently than others.
          example: false
        primary:
          type: boolean
          description: True if this is the primary media for the package.
          example: true

    DynamicPackagesRequest:
      type: object
      required: [username, category_id, packages]
      properties:
        username:
          type: string
          description: The username of the authenticated customer the packages are being created for.
          example: TestUser
        category_id:
          type: integer
          description: The ID of the dynamic category to populate.
          example: 1234
        packages:
          type: array
          items:
            $ref: '#/components/schemas/DynamicPackageInput'

    DynamicPackageInput:
      type: object
      description: A custom package to add to a dynamic category.
      required: [name, price, slug]
      properties:
        name:
          type: string
          example: Package Name 1
        price:
          type: number
          format: float
          example: 10.00
        slug:
          type: string
          example: package-name-1
        description:
          type: string
          example: This is the description
        image_url:
          type: string
          example: image.url/imageurl
        custom:
          type: object
          description: Arbitrary custom key/value data to associate with the package.
          additionalProperties:
            type: string
          example:
            custom-field-1: custom-value-1
            custom-field-2: custom-value-2
            custom-field-3: custom-value-3
    DynamicPackagesResponse:
      type: object
      properties:
        message:
          type: string
          example: Dynamic packages created successfully.

    ModulesResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Module'

    # Discriminated union over concrete module types
    Module:
      oneOf:
        - $ref: '#/components/schemas/TopCustomerModule'
        - $ref: '#/components/schemas/TextboxModule'
        - $ref: '#/components/schemas/RecentPaymentsModule'
        - $ref: '#/components/schemas/FeaturedPackageModule'
        - $ref: '#/components/schemas/GiftcardBalanceModule'
        - $ref: '#/components/schemas/ServerStatusModule'
        - $ref: '#/components/schemas/PaymentGoalModule'
        - $ref: '#/components/schemas/CommunityGoalModule'
      discriminator:
        propertyName: type
        mapping:
          top_customer: '#/components/schemas/TopCustomerModule'
          textbox: '#/components/schemas/TextboxModule'
          recent_payments: '#/components/schemas/RecentPaymentsModule'
          featured_package: '#/components/schemas/FeaturedPackageModule'
          giftcard_balance: '#/components/schemas/GiftcardBalanceModule'
          server_status: '#/components/schemas/ServerStatusModule'
          payment_goal: '#/components/schemas/PaymentGoalModule'
          community_goal: '#/components/schemas/CommunityGoalModule'

    TopCustomerModule:
      allOf:
        - $ref: '#/components/schemas/ModuleBase'
        - type: object
          properties:
            type:
              const: top_customer
            data:
              $ref: '#/components/schemas/TopCustomerData'
          required: [data]

    TopCustomerData:
      type: object
      required: [header, username, username_id]
      properties:
        header:
          type: string
          example: Top Customer
        username:
          type: string
          example: Test
        username_id:
          type: string
          description: User identifier.
          example: d8d5a9237b2043d8883b1150148d6955
        total:
          type: number
          description: Optional, present depending on module configuration.

    TextboxModule:
      allOf:
        - $ref: '#/components/schemas/ModuleBase'
        - type: object
          properties:
            type:
              const: textbox
            data:
              $ref: '#/components/schemas/TextboxData'
          required: [data]

    TextboxData:
      type: object
      required: [header, text]
      properties:
        header:
          type: string
          example: Modules
        text:
          type: string
          description: HTML supported.
          example: >-
            You can configure the sidebar of your webstore by going to <strong>Webstore</strong> &gt;
            <strong>Design</strong> &gt; <strong>Modules</strong>.

    ModuleBase:
      type: object
      required: [id, type, start_time, data]
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
          description: Discriminator for module kind.
        start_time:
          type: string
          format: date-time
        end_time:
          type:
            - 'null'
            - string
          format: date-time
          description: Nullable; when null the module is ongoing.
        data:
          type: object
          description: Type-specific payload.

    RecentPaymentsModule:
      allOf:
        - $ref: '#/components/schemas/ModuleBase'
        - type: object
          properties:
            type:
              const: recent_payments
            data:
              $ref: '#/components/schemas/RecentPaymentsData'
          required: [data]

    RecentPaymentsData:
      type: object
      required: [header, payments]
      properties:
        header:
          type: string
          example: Recent Payments
        payments:
          type: array
          items:
            $ref: '#/components/schemas/RecentPayment'

    RecentPayment:
      type: object
      required: [username, username_id, package]
      properties:
        username:
          type: string
          example: Test
        username_id:
          type: string
          example: d8d5a9237b2043d8883b1150148d6955
        package:
          type: object
          required: [name]
          properties:
            name:
              type: string
              example: Example Package
        created_at:
          type:
            - 'null'
            - string
          format: date-time
          description: Optional, present depending on module configuration.
        price:
          type:
            - 'null'
            - number
          description: Optional, present depending on module configuration.
        currency:
          type:
            - 'null'
            - string
          description: Optional, present depending on module configuration.
          example: USD

    FeaturedPackageModule:
      allOf:
        - $ref: '#/components/schemas/ModuleBase'
        - type: object
          properties:
            type:
              const: featured_package
            data:
              $ref: '#/components/schemas/FeaturedPackageData'
          required: [data]

    FeaturedPackageData:
      type: object
      required: [header, package]
      properties:
        header:
          type: string
          example: Featured Package
        package:
          $ref: '#/components/schemas/Package'

    GiftcardBalanceModule:
      allOf:
        - $ref: '#/components/schemas/ModuleBase'
        - type: object
          properties:
            type:
              const: giftcard_balance
            data:
              $ref: '#/components/schemas/GiftcardBalanceData'
          required: [data]

    GiftcardBalanceData:
      type: object
      required: [header]
      properties:
        header:
          type: string
          example: Giftcard Balance

    ServerStatusModule:
      allOf:
        - $ref: '#/components/schemas/ModuleBase'
        - type: object
          properties:
            type:
              const: server_status
            data:
              $ref: '#/components/schemas/ServerStatusData'
          required: [data]

    ServerStatusData:
      type: object
      required: [header, hostname, port, online, players]
      properties:
        header:
          type: string
          example: Server Status
        hostname:
          type: string
          example: play.hypixel.net
        port:
          type: integer
          example: 25565
        online:
          type: boolean
        players:
          description: Nullable object; null when server is offline.
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Players'

    Players:
      type: object
      required: [online, max]
      properties:
        online:
          type: integer
          example: 23735
        max:
          type: integer
          example: 200000

    PaymentGoalModule:
      allOf:
        - $ref: '#/components/schemas/ModuleBase'
        - type: object
          properties:
            type:
              const: payment_goal
            data:
              $ref: '#/components/schemas/PaymentGoalData'
          required: [data]

    PaymentGoalData:
      type: object
      required: [header, percentage, bar_style, bar_animated]
      properties:
        header:
          type: string
          example: Payment Goal
        percentage:
          type: number
          minimum: 0
          maximum: 100
          example: 0
        bar_style:
          type: string
          enum: [normal, striped]
          example: striped
        bar_animated:
          type: boolean
          example: true
        total:
          type:
            - 'null'
            - number
          description: Optional, present depending on module configuration.
        target:
          type:
            - 'null'
            - number
          description: Optional, present depending on module configuration.

    CommunityGoalModule:
      allOf:
        - $ref: '#/components/schemas/ModuleBase'
        - type: object
          properties:
            type:
              const: community_goal
            data:
              $ref: '#/components/schemas/CommunityGoalData'
          required: [data]

    CommunityGoalData:
      type: object
      required: [header, bar_style, bar_animated, percentage]
      properties:
        header:
          type: string
          example: Community Goal
        bar_style:
          type: string
          enum: [normal, striped]
          example: normal
        bar_animated:
          type: boolean
          example: true
        percentage:
          type: number
          minimum: 0
          maximum: 100
          example: 100
        total_payments:
          type:
            - 'null'
            - number
          description: Optional, present depending on module configuration.
        target:
          type:
            - 'null'
            - number
          description: Optional, present depending on module configuration.
        times_achieved:
          type:
            - 'null'
            - integer
          description: Optional, present depending on module configuration.
