/*
Tebex Headless API

The headless API is designed for implementing your own store frontend with the data of your store. You are able to call the Headless API directly from a web browser (such as within an SPA), from a backend server, or in-game GUIs.

API version: 2.0.1
Contact: tebex-integrations@overwolf.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package TebexHeadless

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BasketsAPIService BasketsAPI service
type BasketsAPIService service

type ApiAddBasketPackageRequest struct {
	ctx context.Context
	ApiService *BasketsAPIService
	basketIdent string
	addBasketPackageRequest *AddBasketPackageRequest
}

func (r ApiAddBasketPackageRequest) AddBasketPackageRequest(addBasketPackageRequest AddBasketPackageRequest) ApiAddBasketPackageRequest {
	r.addBasketPackageRequest = &addBasketPackageRequest
	return r
}

func (r ApiAddBasketPackageRequest) Execute() (*BasketResponse, *http.Response, error) {
	return r.ApiService.AddBasketPackageExecute(r)
}

/*
AddBasketPackage Add package to basket

Add a package with the given ID to the basket.

To add a package belonging to a dynamic category, set `dynamic` to `true`. Without this property the API will treat the request as a normal package ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param basketIdent The basket identifier.
 @return ApiAddBasketPackageRequest
*/
func (a *BasketsAPIService) AddBasketPackage(ctx context.Context, basketIdent string) ApiAddBasketPackageRequest {
	return ApiAddBasketPackageRequest{
		ApiService: a,
		ctx: ctx,
		basketIdent: basketIdent,
	}
}

// Execute executes the request
//  @return BasketResponse
func (a *BasketsAPIService) AddBasketPackageExecute(r ApiAddBasketPackageRequest) (*BasketResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BasketResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BasketsAPIService.AddBasketPackage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{basketIdent}/packages"
	localVarPath = strings.Replace(localVarPath, "{"+"basketIdent"+"}", url.PathEscape(parameterValueToString(r.basketIdent, "basketIdent")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addBasketPackageRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRemoveBasketPackageRequest struct {
	ctx context.Context
	ApiService *BasketsAPIService
	basketIdent string
	removeBasketPackageRequest *RemoveBasketPackageRequest
}

func (r ApiRemoveBasketPackageRequest) RemoveBasketPackageRequest(removeBasketPackageRequest RemoveBasketPackageRequest) ApiRemoveBasketPackageRequest {
	r.removeBasketPackageRequest = &removeBasketPackageRequest
	return r
}

func (r ApiRemoveBasketPackageRequest) Execute() (*BasketResponse, *http.Response, error) {
	return r.ApiService.RemoveBasketPackageExecute(r)
}

/*
RemoveBasketPackage Remove a package from a basket

Remove the given package ID from the basket.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param basketIdent The basket identifier.
 @return ApiRemoveBasketPackageRequest
*/
func (a *BasketsAPIService) RemoveBasketPackage(ctx context.Context, basketIdent string) ApiRemoveBasketPackageRequest {
	return ApiRemoveBasketPackageRequest{
		ApiService: a,
		ctx: ctx,
		basketIdent: basketIdent,
	}
}

// Execute executes the request
//  @return BasketResponse
func (a *BasketsAPIService) RemoveBasketPackageExecute(r ApiRemoveBasketPackageRequest) (*BasketResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BasketResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BasketsAPIService.RemoveBasketPackage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{basketIdent}/packages/remove"
	localVarPath = strings.Replace(localVarPath, "{"+"basketIdent"+"}", url.PathEscape(parameterValueToString(r.basketIdent, "basketIdent")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.removeBasketPackageRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdatePackageQuantityRequest struct {
	ctx context.Context
	ApiService *BasketsAPIService
	basketIdent string
	packageId string
	updatePackageQuantityRequest *UpdatePackageQuantityRequest
}

func (r ApiUpdatePackageQuantityRequest) UpdatePackageQuantityRequest(updatePackageQuantityRequest UpdatePackageQuantityRequest) ApiUpdatePackageQuantityRequest {
	r.updatePackageQuantityRequest = &updatePackageQuantityRequest
	return r
}

func (r ApiUpdatePackageQuantityRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdatePackageQuantityExecute(r)
}

/*
UpdatePackageQuantity Update package quantity

Sets the quantity of the given item in the basket. The user must be logged in before the quantity can be changed.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param basketIdent The basket identifier.
 @param packageId The package identifier
 @return ApiUpdatePackageQuantityRequest
*/
func (a *BasketsAPIService) UpdatePackageQuantity(ctx context.Context, basketIdent string, packageId string) ApiUpdatePackageQuantityRequest {
	return ApiUpdatePackageQuantityRequest{
		ApiService: a,
		ctx: ctx,
		basketIdent: basketIdent,
		packageId: packageId,
	}
}

// Execute executes the request
func (a *BasketsAPIService) UpdatePackageQuantityExecute(r ApiUpdatePackageQuantityRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BasketsAPIService.UpdatePackageQuantity")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{basketIdent}/packages/{packageId}"
	localVarPath = strings.Replace(localVarPath, "{"+"basketIdent"+"}", url.PathEscape(parameterValueToString(r.basketIdent, "basketIdent")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"packageId"+"}", url.PathEscape(parameterValueToString(r.packageId, "packageId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updatePackageQuantityRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
