{
  "openapi" : "3.1.0",
  "info" : {
    "contact" : {
      "email" : "tebex-integrations@overwolf.com"
    },
    "description" : "The headless API is designed for implementing your own store frontend with the data of your store. You are able to call the Headless API directly from a web browser (such as within an SPA), from a backend server, or in-game GUIs.",
    "license" : {
      "name" : "MIT",
      "url" : "https://opensource.org/license/mit"
    },
    "termsOfService" : "https://tebex.io/terms-creator-agreement",
    "title" : "Tebex Headless API",
    "version" : "2.0.1"
  },
  "servers" : [ {
    "description" : "Main API scoped to public token",
    "url" : "https://headless.tebex.io/api/accounts/{token}",
    "variables" : {
      "token" : {
        "default" : "YOUR_PUBLIC_TOKEN",
        "description" : "The store's public token"
      }
    }
  } ],
  "tags" : [ {
    "description" : "Main API scoped to public token",
    "name" : "Headless"
  }, {
    "description" : "Endpoints requiring only a basket ident with no token",
    "name" : "Baskets"
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "description" : "Gets the webstore associated with the provided token",
        "operationId" : "getWebstore",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WebstoreResponse"
                }
              }
            },
            "description" : "Successful response returns the webstore's information."
          }
        },
        "summary" : "Get the webstore's information",
        "tags" : [ "Headless" ]
      }
    },
    "/pages" : {
      "get" : {
        "description" : "Gets a list of custom pages associated with the webstore. These contain a `content` variable with the HTML content of the page.",
        "operationId" : "getCustomPages",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CMSPagesResponse"
                }
              }
            },
            "description" : "Successful response returns the webstore's pages."
          }
        },
        "summary" : "Get custom pages defined for the webstore.",
        "tags" : [ "Headless" ]
      }
    },
    "/baskets/{basketIdent}" : {
      "get" : {
        "description" : "Gets a basket associated with the provided identifier.",
        "operationId" : "getBasket",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasketResponse"
                }
              }
            },
            "description" : "Successful response returns the basket information."
          }
        },
        "summary" : "Get a basket",
        "tags" : [ "Headless" ]
      }
    },
    "/baskets" : {
      "post" : {
        "description" : "Creates a new basket for use during checkout.",
        "operationId" : "createBasket",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/createBasket_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasketResponse"
                }
              }
            },
            "description" : "Successful response returns the basket information."
          },
          "422" : {
            "description" : "The provided webstore ID is invalid."
          }
        },
        "summary" : "Create a new basket",
        "tags" : [ "Headless" ]
      }
    },
    "/baskets/{basketIdent}/auth?returnUrl={returnUrl}" : {
      "get" : {
        "description" : "Fetches a basket's auth URL. The player should be directed here in order for them to authorize their account.\nWhen complete, they will be returned to the provided `returnUrl` and the basket will be authorized from that moment onwards.",
        "operationId" : "getBasketAuthUrl",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        }, {
          "description" : "The URL you would like to redirect the user to after successful basket authentication.",
          "explode" : false,
          "in" : "path",
          "name" : "returnUrl",
          "required" : true,
          "schema" : {
            "example" : "https://example.tebex.io/",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasketAuthResponse"
                }
              }
            },
            "description" : "Successful response returns the auth provider options and URLs of the sign-in link."
          },
          "422" : {
            "description" : "The provided webstore ID or basket ID is invalid."
          }
        },
        "summary" : "Get auth links for basket",
        "tags" : [ "Headless" ]
      }
    },
    "/baskets/{basketIdent}/dynamic-packages" : {
      "put" : {
        "description" : "Populates a dynamic category with custom packages for the given basket. Dynamic categories are created in the creator panel with the type `dynamic`, and are typically populated in response to a `basket.authenticated` webhook.\n\nOnce created, the packages can be fetched using the category endpoints with both `includePackages=1` and `basketIdent` provided.",
        "operationId" : "createDynamicPackage",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DynamicPackagesRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DynamicPackagesResponse"
                }
              }
            },
            "description" : "Successful response confirms the dynamic packages were created."
          },
          "422" : {
            "description" : "The provided request is invalid. The error response will include detail as to which parameter failed validation."
          }
        },
        "summary" : "Add packages to a dynamic category for a basket.",
        "tags" : [ "Headless" ]
      }
    },
    "/categories" : {
      "get" : {
        "description" : "Gets all categories from a webstore. This does not include package information. To include package information, add `?includePackages=1` to the URL.",
        "operationId" : "getCategories",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CategoryResponse"
                }
              }
            },
            "description" : "Successful response returns a list of category information."
          }
        },
        "summary" : "Get all categories",
        "tags" : [ "Headless" ]
      }
    },
    "/categories?includePackages=1" : {
      "get" : {
        "description" : "Gets all categories from a webstore including packages.",
        "operationId" : "getCategoriesIncludePackages",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CategoryResponse"
                }
              }
            },
            "description" : "Successful response returns a list of category information."
          }
        },
        "summary" : "Gets all categories and packages",
        "tags" : [ "Headless" ]
      }
    },
    "/categories?usernameId={usernameId}&includePackages=1" : {
      "get" : {
        "description" : "Gets all categories from the webstore, returning active tier information for the given player.",
        "operationId" : "getUserTieredCategories",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "usernameId",
          "required" : true,
          "schema" : {
            "example" : 76561198042467022,
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CategoryResponse"
                }
              }
            },
            "description" : "Successful response returns a list of category information."
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "summary" : "Get user's tiered categories",
        "tags" : [ "Headless" ]
      }
    },
    "/categories?includePackages=1&basketIdent={basketIdent}" : {
      "get" : {
        "description" : "Gets all categories from a webstore including packages. When `basketIdent` is provided, dynamic categories are populated with the packages associated with that basket.\n\nIf a basket identifier is not provided, dynamic categories will be empty as the basket is required to relate packages to the category.",
        "operationId" : "getDynamicCategories",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CategoryResponse"
                }
              }
            },
            "description" : "Successful response returns a list of category information."
          }
        },
        "summary" : "Get Dynamic Categories",
        "tags" : [ "Headless" ]
      }
    },
    "/categories/{categoryId}" : {
      "get" : {
        "description" : "Gets information about a category and returns the packages in that category.",
        "operationId" : "getCategory",
        "parameters" : [ {
          "description" : "The ID or slug of the category to fetch.",
          "explode" : false,
          "in" : "path",
          "name" : "categoryId",
          "required" : true,
          "schema" : {
            "example" : 127244343,
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SingleCategoryResponse"
                }
              }
            },
            "description" : "Successful response returns the category without package information."
          }
        },
        "summary" : "Get specific category",
        "tags" : [ "Headless" ]
      }
    },
    "/categories/{categoryId}?includePackages=1" : {
      "get" : {
        "description" : "Gets information about a category and returns the packages in that category.",
        "operationId" : "getCategoryIncludePackages",
        "parameters" : [ {
          "description" : "The ID or slug of the category to fetch.",
          "explode" : false,
          "in" : "path",
          "name" : "categoryId",
          "required" : true,
          "schema" : {
            "example" : 127244343,
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SingleCategoryResponse"
                }
              }
            },
            "description" : "Successful response returns the category with package information."
          }
        },
        "summary" : "Get a category with all packages",
        "tags" : [ "Headless" ]
      }
    },
    "/categories/{categoryId}?includePackages=1&basketIdent={basketIdent}" : {
      "get" : {
        "description" : "Gets information about a category and returns the packages in that category. When the category is dynamic and `basketIdent` is provided, the category is populated with the packages associated with that basket.\n\nIf a basket identifier is not provided, a dynamic category will be empty as the basket is required to relate packages to the category.",
        "operationId" : "getCategoryIncludeDynamicPackages",
        "parameters" : [ {
          "description" : "The ID or slug of the category to fetch.",
          "explode" : false,
          "in" : "path",
          "name" : "categoryId",
          "required" : true,
          "schema" : {
            "example" : 1234,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "$ref" : "#/components/parameters/basketIdent"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SingleCategoryResponse"
                }
              }
            },
            "description" : "Successful response returns the category with package information."
          }
        },
        "summary" : "Gets a specific category including packages, populating a dynamic category for the given basket.",
        "tags" : [ "Headless" ]
      }
    },
    "/packages/{packageId}" : {
      "get" : {
        "description" : "Gets a package from a webstore by its ID or slug.\n\nNote: this endpoint does not support packages belonging to dynamic categories. Use the category endpoints with `includePackages=1` and `basketIdent` to fetch dynamic packages.",
        "operationId" : "getPackage",
        "parameters" : [ {
          "description" : "The package's ID or slug.",
          "explode" : false,
          "in" : "path",
          "name" : "packageId",
          "required" : true,
          "schema" : {
            "example" : 1272441812,
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SinglePackageResponse"
                }
              }
            },
            "description" : "Successful response returns the package information."
          }
        },
        "summary" : "Get package",
        "tags" : [ "Headless" ]
      }
    },
    "/packages" : {
      "get" : {
        "description" : "Gets all packages from a webstore.\n\nNote: this endpoint does not support packages belonging to dynamic categories. Use the category endpoints with `includePackages=1` and `basketIdent` to fetch dynamic packages.",
        "operationId" : "getAllPackages",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PackageResponse"
                }
              }
            },
            "description" : "Successful response returns a list of package information."
          }
        },
        "summary" : "Get all packages",
        "tags" : [ "Headless" ]
      }
    },
    "/packages?ipAddress={ipAddress}" : {
      "get" : {
        "description" : "Gets all packages from a webstore.",
        "operationId" : "getAllPackagesWithAuthedIP",
        "parameters" : [ {
          "description" : "An IP address can be provided with authenticated requests",
          "explode" : false,
          "in" : "path",
          "name" : "ipAddress",
          "required" : true,
          "schema" : {
            "example" : "127.0.0.1",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PackageResponse"
                }
              }
            },
            "description" : "Successful response returns a list of package information."
          },
          "422" : {
            "description" : "The provided request is invalid."
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "summary" : "Get packages",
        "tags" : [ "Headless" ]
      }
    },
    "/packages?basketIdent={basketIdent}" : {
      "get" : {
        "description" : "Gets all packages available to the provided basket.",
        "operationId" : "getPackagesForBasket",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PackageResponse"
                }
              }
            },
            "description" : "Successful response returns a list of package information."
          },
          "422" : {
            "description" : "The provided request is invalid."
          }
        },
        "summary" : "Get packages available for basket",
        "tags" : [ "Headless" ]
      }
    },
    "/packages?ipAddress={ipAddress}&basketIdent={basketIdent}" : {
      "get" : {
        "description" : "Gets all packages from a webstore.",
        "operationId" : "getAllPackagesWithAuthedIPAndBasket",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        }, {
          "description" : "An IP address can be provided with authenticated requests.",
          "explode" : false,
          "in" : "path",
          "name" : "ipAddress",
          "required" : true,
          "schema" : {
            "example" : "127.0.0.1",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PackageResponse"
                }
              }
            },
            "description" : "Successful response returns a list of package information."
          },
          "422" : {
            "description" : "The provided request is invalid."
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "summary" : "Get packages available for IP and basket",
        "tags" : [ "Headless" ]
      }
    },
    "/baskets/{basketIdent}/creator-codes" : {
      "post" : {
        "description" : "Applies a creator code to a basket.",
        "operationId" : "applyCreatorCode",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/applyCreatorCode_request"
              }
            }
          },
          "description" : "Provide a `creator_code` to apply to the basket."
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/applyCreatorCode_200_response"
                }
              }
            },
            "description" : "Successful response returns a success object"
          },
          "422" : {
            "description" : "The provided request is invalid. The error response will include detail as to which parameter failed validation."
          }
        },
        "summary" : "Apply a creator code",
        "tags" : [ "Headless" ]
      }
    },
    "/baskets/{basketIdent}/creator-codes/remove" : {
      "post" : {
        "description" : "Removes the creator code from the basket.",
        "operationId" : "removeCreatorCode",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        } ],
        "responses" : {
          "200" : {
            "description" : "Creator code removed successfully."
          },
          "422" : {
            "description" : "The provided request is invalid. The error response will include detail as to which parameter failed validation."
          }
        },
        "summary" : "Removes the creator code from the basket.",
        "tags" : [ "Headless" ]
      }
    },
    "/baskets/{basketIdent}/giftcards" : {
      "post" : {
        "description" : "Applies a gift card to the basket.",
        "operationId" : "applyGiftCard",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GiftCard"
              }
            }
          },
          "description" : "Provide a `card_number` to apply to the basket."
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/applyGiftCard_200_response"
                }
              }
            },
            "description" : "Successful response returns a success message."
          }
        },
        "summary" : "Apply a gift card",
        "tags" : [ "Headless" ]
      }
    },
    "/baskets/{basketIdent}/giftcards/remove" : {
      "post" : {
        "description" : "Removes a gift card from the basket.",
        "operationId" : "removeGiftCard",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/removeGiftCard_request"
              }
            }
          },
          "description" : "Provide the `card_number` to remove from the basket."
        },
        "responses" : {
          "200" : {
            "description" : "Gift card removed successfully."
          },
          "422" : {
            "description" : "The provided request is invalid. The error response will include detail as to which parameter failed validation."
          }
        },
        "summary" : "Remove a gift card from the basket.",
        "tags" : [ "Headless" ]
      }
    },
    "/baskets/{basketIdent}/coupons" : {
      "post" : {
        "description" : "Applies a coupon to a basket.",
        "operationId" : "applyCoupon",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplyCouponRequest"
              }
            }
          },
          "description" : "Provide a `coupon_code` to apply to the basket."
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/applyCoupon_200_response"
                }
              }
            },
            "description" : "Successful response returns a success message."
          }
        },
        "summary" : "Apply a coupon",
        "tags" : [ "Headless" ]
      }
    },
    "/baskets/{basketIdent}/coupons/remove" : {
      "post" : {
        "description" : "Removes a coupon code from a basket",
        "operationId" : "removeCoupon",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplyCouponRequest"
              }
            }
          },
          "description" : "Provide a `coupon_code` to remove from the basket."
        },
        "responses" : {
          "200" : {
            "description" : "Successful response."
          },
          "422" : {
            "description" : "The provided request is invalid. The error response will include detail as to which parameter failed validation."
          }
        },
        "summary" : "Remove a coupon from the basket.",
        "tags" : [ "Headless" ]
      }
    },
    "/{basketIdent}/packages" : {
      "post" : {
        "description" : "Add a package with the given ID to the basket.\n\nTo add a package belonging to a dynamic category, set `dynamic` to `true`. Without this property the API will treat the request as a normal package ID.",
        "operationId" : "addBasketPackage",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/addBasketPackage_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasketResponse"
                }
              }
            },
            "description" : "Successful response."
          },
          "422" : {
            "description" : "The provided request is invalid. The error response will include detail as to which parameter failed validation."
          }
        },
        "summary" : "Add package to basket",
        "tags" : [ "Baskets" ]
      },
      "servers" : [ {
        "description" : "Basket-only API, account token not required",
        "url" : "https://headless.tebex.io/api/baskets"
      } ]
    },
    "/{basketIdent}/packages/remove" : {
      "post" : {
        "description" : "Remove the given package ID from the basket.",
        "operationId" : "removeBasketPackage",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/removeBasketPackage_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasketResponse"
                }
              }
            },
            "description" : "Successful response returns the basket."
          },
          "422" : {
            "description" : "The provided request is invalid. The error response will include detail as to which parameter failed validation."
          }
        },
        "summary" : "Remove a package from a basket",
        "tags" : [ "Baskets" ]
      },
      "servers" : [ {
        "description" : "Basket-only API, account token not required",
        "url" : "https://headless.tebex.io/api/baskets"
      } ]
    },
    "/{basketIdent}/packages/{packageId}" : {
      "put" : {
        "description" : "Sets the quantity of the given item in the basket. The user must be logged in before the quantity can be changed.",
        "operationId" : "updatePackageQuantity",
        "parameters" : [ {
          "$ref" : "#/components/parameters/basketIdent"
        }, {
          "description" : "The package identifier",
          "explode" : false,
          "in" : "path",
          "name" : "packageId",
          "required" : true,
          "schema" : {
            "example" : 6276316,
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/updatePackageQuantity_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful response."
          },
          "422" : {
            "description" : "The provided request is invalid. The error response will include detail as to which parameter failed validation."
          }
        },
        "summary" : "Update package quantity",
        "tags" : [ "Baskets" ]
      },
      "servers" : [ {
        "description" : "Basket-only API, account token not required",
        "url" : "https://headless.tebex.io/api/baskets"
      } ]
    },
    "/tiers/{tierId}" : {
      "patch" : {
        "description" : "Updates a tier to a new package. A recurring payment updated webhook is sent when an update is successful.",
        "operationId" : "updateTier",
        "parameters" : [ {
          "description" : "The tier identifier",
          "explode" : false,
          "in" : "path",
          "name" : "tierId",
          "required" : true,
          "schema" : {
            "example" : 6276316,
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/updateTier_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateTierResponse"
                }
              }
            },
            "description" : "Successful response."
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "summary" : "Update user's tier to a new package",
        "tags" : [ "Headless" ]
      }
    },
    "/sidebar" : {
      "get" : {
        "description" : "Retrieves the available sidebar modules configured for the store.",
        "operationId" : "getSidebar",
        "parameters" : [ {
          "description" : "The webstore identifier.",
          "explode" : false,
          "in" : "path",
          "name" : "token",
          "required" : true,
          "schema" : {
            "example" : "some-uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ModulesResponse"
                }
              }
            },
            "description" : "Successful response."
          }
        },
        "summary" : "Retrieves the available sidebar modules.",
        "tags" : [ "Headless" ]
      }
    }
  },
  "components" : {
    "parameters" : {
      "basketIdent" : {
        "description" : "The basket identifier.",
        "explode" : false,
        "in" : "path",
        "name" : "basketIdent",
        "required" : true,
        "schema" : {
          "example" : "c00244-d2ac2e77418a55b25292a6bc7a719ad9c529ba2c",
          "type" : "string"
        },
        "style" : "simple"
      }
    },
    "schemas" : {
      "Webstore" : {
        "properties" : {
          "id" : {
            "example" : 1,
            "type" : "integer"
          },
          "description" : {
            "description" : "Store description in HTML format",
            "example" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum eget tellus et cursus. Pellentesque vel vehicula velit, sit amet tincidunt diam. Aliquam sit amet fermentum lorem.</p>",
            "type" : "string"
          },
          "name" : {
            "description" : "Name of the store",
            "example" : "Minecraft Store",
            "type" : "string"
          },
          "webstore_url" : {
            "description" : "URL of the webstore",
            "example" : "https://example.tebex.io",
            "format" : "uri",
            "type" : "string"
          },
          "currency" : {
            "description" : "Currency used in the store",
            "example" : "USD",
            "type" : "string"
          },
          "lang" : {
            "description" : "Language of the store",
            "example" : "en",
            "type" : "string"
          },
          "logo" : {
            "description" : "URL of the store's logo",
            "format" : "uri",
            "type" : "string",
            "nullable" : true
          },
          "platform_type" : {
            "description" : "Platform type for the store",
            "example" : "Minecraft: Java Edition",
            "type" : "string"
          },
          "platform_type_id" : {
            "example" : "minecraft",
            "type" : "string"
          },
          "disabled" : {
            "description" : "True if the store is disabled.",
            "example" : false,
            "type" : "boolean"
          },
          "created_at" : {
            "description" : "The date and time when the store was created",
            "example" : "2023-05-25T09:49:37+00:00",
            "format" : "date-time",
            "type" : "string"
          },
          "supports_usernames" : {
            "description" : "True if the store's platform identifies customers by username.",
            "example" : true,
            "type" : "boolean"
          },
          "supports_gifting" : {
            "description" : "True if packages can be gifted to another user.",
            "example" : false,
            "type" : "boolean"
          }
        }
      },
      "WebstoreResponse" : {
        "description" : "Wrapped webstore information in a \"data\" object.",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/Webstore"
          }
        }
      },
      "UpdateTierResponse" : {
        "properties" : {
          "success" : {
            "example" : true,
            "type" : "boolean"
          },
          "message" : {
            "example" : "Tier successfully upgraded, please allow a few moments for your changes to take effect.",
            "type" : "string"
          }
        }
      },
      "CMSPagesResponse" : {
        "properties" : {
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/CMSPage"
            },
            "type" : "array"
          }
        }
      },
      "CMSPage" : {
        "properties" : {
          "id" : {
            "example" : 127,
            "type" : "integer"
          },
          "created_at" : {
            "example" : "2023-11-13T20:59:54.000000Z",
            "format" : "date-time",
            "type" : "string"
          },
          "updated_at" : {
            "example" : "2023-11-13T20:59:54.000000Z",
            "format" : "date-time",
            "type" : "string"
          },
          "account_id" : {
            "example" : 244,
            "type" : "integer"
          },
          "title" : {
            "example" : "About",
            "type" : "string"
          },
          "slug" : {
            "example" : "about",
            "type" : "string"
          },
          "private" : {
            "example" : false,
            "type" : "boolean"
          },
          "hidden" : {
            "example" : false,
            "type" : "boolean"
          },
          "disabled" : {
            "example" : false,
            "type" : "boolean"
          },
          "sequence" : {
            "example" : false,
            "type" : "boolean"
          },
          "content" : {
            "example" : "<p>This is a custom page which you can add your own content to if you wish.</p>\n\n<p>You can modify your pages by going to <strong>Webstore</strong> &gt; <strong>Pages</strong> from within the\nTebex Store control panel.</p>\n\n<p>Make sure to take a look at our <a href=\"https://help.tebex.io\" rel=\"noreferrer\" target=\"_blank\">knowledgebase</a>\nfor helpful guides on getting started.</p>",
            "type" : "string"
          }
        }
      },
      "ErrorResponse" : {
        "properties" : {
          "type" : { },
          "title" : {
            "description" : "A short, human-readable summary of the problem type.  It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization",
            "example" : "Bad Request",
            "type" : "string"
          },
          "status" : {
            "description" : "The HTTP status code gen by the origin server for the occurrence of the problem.",
            "example" : 400,
            "type" : "integer"
          },
          "detail" : {
            "description" : "A human-readable explanation specific to this occurrence of the problem.",
            "example" : "Parameter 'first_name' is required.",
            "type" : "string"
          },
          "instance" : {
            "description" : "A URI reference that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced",
            "example" : "/path/to/ref",
            "type" : "string"
          }
        }
      },
      "GiftCard" : {
        "properties" : {
          "card_number" : {
            "example" : "0127 0244 7210 1111",
            "type" : "string"
          }
        }
      },
      "ApplyCouponRequest" : {
        "properties" : {
          "coupon_code" : {
            "example" : "Academy10",
            "type" : "string"
          }
        }
      },
      "Coupon" : {
        "properties" : {
          "code" : {
            "example" : "Academy10",
            "type" : "string"
          }
        }
      },
      "BasketAuthResponse" : {
        "items" : {
          "$ref" : "#/components/schemas/BasketAuthResponse_inner"
        },
        "type" : "array"
      },
      "BasketResponse" : {
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/Basket"
          }
        }
      },
      "Basket" : {
        "properties" : {
          "id" : {
            "example" : 244127617,
            "type" : "string"
          },
          "ident" : {
            "example" : "1a-55fff4107740a1f40d844ff89607557f45bfafb3",
            "type" : "string"
          },
          "complete" : {
            "example" : false,
            "type" : "boolean"
          },
          "email" : {
            "example" : "support@tebex.io",
            "type" : "string",
            "nullable" : true
          },
          "username" : {
            "type" : "string",
            "nullable" : true,
            "example" : null
          },
          "coupons" : {
            "items" : {
              "$ref" : "#/components/schemas/Coupon"
            },
            "type" : "array"
          },
          "giftcards" : {
            "items" : {
              "$ref" : "#/components/schemas/GiftCard"
            },
            "type" : "array"
          },
          "creator_code" : {
            "description" : "The creator code is used to share a percentage of the payment with another party. See more about creator codes at https://docs.tebex.io/creators/tebex-control-panel/engagement/creator-codes",
            "type" : "string"
          },
          "cancel_url" : {
            "example" : "https://tebex.io",
            "type" : "string"
          },
          "complete_url" : {
            "type" : "string",
            "nullable" : true,
            "example" : null
          },
          "complete_auto_redirect" : {
            "example" : false,
            "type" : "boolean"
          },
          "country" : {
            "description" : "A two-character country code",
            "example" : "US",
            "type" : "string"
          },
          "ip" : {
            "example" : "127.0.0.1",
            "type" : "string"
          },
          "username_id" : {
            "example" : 127244,
            "type" : "integer"
          },
          "base_price" : {
            "example" : 1.27,
            "format" : "float",
            "type" : "number"
          },
          "sales_tax" : {
            "example" : 0.11,
            "format" : "float",
            "type" : "number"
          },
          "total_price" : {
            "example" : 1.38,
            "format" : "float",
            "type" : "number"
          },
          "currency" : {
            "description" : "A 3 character currency code",
            "example" : "USD",
            "type" : "string"
          },
          "packages" : {
            "items" : {
              "$ref" : "#/components/schemas/BasketPackage"
            },
            "type" : "array"
          },
          "custom" : {
            "example" : {
              "foo" : "bar",
              "ref" : 1234
            },
            "type" : "object",
            "nullable" : true
          },
          "links" : {
            "$ref" : "#/components/schemas/BasketLinks"
          }
        }
      },
      "BasketLinks" : {
        "properties" : {
          "payment" : {
            "description" : "The `links.payment` property is only returned if the basket has been paid for and a payment exists with the `complete`,`refund`, or `chargeback` status.",
            "example" : "https://checkout.tebex.io/api/payments/tbx-12345",
            "type" : "string"
          },
          "checkout" : {
            "description" : "The `links.checkout` property is only returned if the basket has not been paid, and is the URL to send the customer to make payment",
            "example" : "https://checkout.tebex.io/checkout/1a-55fff4107740a1f40d844ff89607557f45bfafb3",
            "type" : "string"
          }
        }
      },
      "CategoryResponse" : {
        "properties" : {
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Category"
            },
            "type" : "array"
          }
        }
      },
      "SingleCategoryResponse" : {
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/Category"
          }
        }
      },
      "Category" : {
        "properties" : {
          "id" : {
            "example" : 2678660,
            "type" : "integer"
          },
          "name" : {
            "description" : "User-friendly name of the category",
            "example" : "Test",
            "type" : "string"
          },
          "slug" : {
            "description" : "Short identifier slug for the category",
            "type" : "string",
            "nullable" : true
          },
          "parent" : {
            "description" : "Parent category, if applicable",
            "format" : "Category",
            "type" : "object",
            "nullable" : true
          },
          "tiered" : {
            "description" : "True if this is a tiered category",
            "example" : false,
            "type" : "boolean"
          },
          "active_tier" : {
            "$ref" : "#/components/schemas/Tier"
          },
          "description" : {
            "description" : "HTML description of the category",
            "type" : "string"
          },
          "packages" : {
            "description" : "Packages within the category. For dynamic categories, packages use the `DynamicPackage` shape and are only populated when a `basketIdent` is provided.",
            "items" : {
              "$ref" : "#/components/schemas/Package"
            },
            "type" : "array",
            "nullable" : true
          },
          "order" : {
            "description" : "The numeric order in which to display the category.",
            "example" : 1,
            "type" : "integer"
          },
          "display_type" : {
            "description" : "How the category should be displayed",
            "enum" : [ "list", "grid" ],
            "type" : "string"
          },
          "image_url" : {
            "description" : "URL of the category image, if set.",
            "format" : "uri",
            "type" : "string",
            "nullable" : true,
            "example" : null
          },
          "dynamic" : {
            "description" : "True if this is a dynamic category. Dynamic categories are populated with custom packages per-basket using the Add Dynamic Packages endpoint, and their packages can only be fetched by providing a `basketIdent`.",
            "example" : false,
            "type" : "boolean"
          }
        }
      },
      "PackageResponse" : {
        "properties" : {
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Package"
            },
            "type" : "array"
          }
        }
      },
      "SinglePackageResponse" : {
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/Package"
          }
        }
      },
      "Package" : {
        "properties" : {
          "id" : {
            "example" : 6276316,
            "type" : "integer"
          },
          "name" : {
            "example" : "test package 101",
            "type" : "string"
          },
          "description" : {
            "example" : "<p>this is just a test. only a test. nothing more.</p>",
            "type" : "string"
          },
          "image" : {
            "type" : "string",
            "nullable" : true,
            "example" : null
          },
          "type" : {
            "example" : "single",
            "type" : "string"
          },
          "category" : {
            "$ref" : "#/components/schemas/Package_category"
          },
          "base_price" : {
            "example" : 5,
            "format" : "float",
            "type" : "number"
          },
          "sales_tax" : {
            "example" : 0,
            "format" : "float",
            "type" : "number"
          },
          "total_price" : {
            "example" : 5,
            "format" : "float",
            "type" : "number"
          },
          "currency" : {
            "example" : "USD",
            "type" : "string"
          },
          "prorate_price" : {
            "description" : "If this package is part of a tiered category, this is the difference on upgrade pricing from the current active tier.",
            "format" : "float",
            "type" : "number",
            "nullable" : true
          },
          "discount" : {
            "example" : 0,
            "format" : "float",
            "type" : "number"
          },
          "disable_quantity" : {
            "example" : false,
            "type" : "boolean"
          },
          "disable_gifting" : {
            "example" : false,
            "type" : "boolean"
          },
          "expiration_date" : {
            "format" : "date-time",
            "type" : "string",
            "nullable" : true,
            "example" : null
          },
          "media" : {
            "items" : {
              "$ref" : "#/components/schemas/PackageMedia"
            },
            "type" : "array"
          },
          "order" : {
            "type" : "integer"
          },
          "slug" : {
            "type" : "string"
          },
          "user_limit" : {
            "type" : "integer"
          },
          "creator_meta_data" : {
            "type" : "object"
          },
          "options" : {
            "items" : {
              "description" : "TODO default missing array inner type to string",
              "type" : "string"
            },
            "type" : "array"
          },
          "variables" : {
            "items" : {
              "description" : "TODO default missing array inner type to string",
              "type" : "string"
            },
            "type" : "array"
          },
          "created_at" : {
            "example" : "2024-05-21T18:09:17+00:00",
            "format" : "date-time",
            "type" : "string"
          },
          "updated_at" : {
            "example" : "2024-05-21T18:09:17+00:00",
            "format" : "date-time",
            "type" : "string"
          },
          "ident" : {
            "description" : "The package's string identifier.",
            "example" : "pkg_3081120_7088903",
            "type" : "string"
          },
          "vip_status" : {
            "description" : "The package's VIP status. Only `null` has been observed so far, so the non-null type is unconfirmed.",
            "type" : "string",
            "nullable" : true,
            "example" : null
          }
        }
      },
      "BasketPackage" : {
        "description" : "A package within an existing basket.",
        "properties" : {
          "id" : {
            "description" : "The package ID",
            "type" : "integer"
          },
          "description" : {
            "example" : "100 coins added to your character",
            "type" : "string"
          },
          "image" : {
            "example" : "https://tebex.io/path/to/image.png",
            "type" : "string"
          },
          "name" : {
            "example" : "100 Coins",
            "type" : "string"
          },
          "slug" : {
            "example" : "100-coins",
            "type" : "string"
          },
          "in_basket" : {
            "$ref" : "#/components/schemas/BasketPackage_in_basket"
          },
          "type" : {
            "description" : "The type of payment, either `single` for one-time payments or `subscription`.",
            "enum" : [ "single", "subscription" ],
            "example" : "single",
            "type" : "string"
          },
          "revenue_share" : {
            "description" : "An array of payment destination objects describing how the purchase should be split between multiple wallets. **Only available with pre-agreement from Tebex.**",
            "items" : {
              "$ref" : "#/components/schemas/RevenueShare"
            },
            "type" : "array"
          },
          "is_recurring" : {
            "description" : "Whether this package is a recurring (subscription) purchase.",
            "example" : false,
            "type" : "boolean"
          }
        }
      },
      "RevenueShare" : {
        "properties" : {
          "wallet_ref" : {
            "example" : "some_wallet_reference",
            "type" : "string"
          },
          "amount" : {
            "description" : "A float (decimal) value representing the amount of this payment in your account currency that is credited to the `wallet_ref`",
            "example" : 0.5,
            "type" : "number"
          },
          "gateway_fee_percent" : {
            "description" : "A float (decimal) value representing the percentage of the gateway fee that should be dedicated from this wallet’s revenue share. This optional value can be anywhere between 0 - 100.",
            "example" : 50.0,
            "type" : "number"
          }
        }
      },
      "Tier" : {
        "properties" : {
          "id" : {
            "example" : 40796,
            "type" : "integer"
          },
          "created_at" : {
            "description" : "The date and time when the tier became active",
            "example" : "2025-05-14T13:48:56.000000Z",
            "format" : "date-time",
            "type" : "string"
          },
          "username_id" : {
            "description" : "The user's username ID. For Steam, this is a numeric representation of their Steam64ID",
            "type" : "string"
          },
          "package" : {
            "$ref" : "#/components/schemas/Package"
          },
          "active" : {
            "description" : "True if the tier is currently active.",
            "example" : true,
            "type" : "boolean"
          },
          "recurring_payment_reference" : {
            "description" : "The ID of the recurring payment this tier is attached to.",
            "example" : "tbx-r-757925142",
            "type" : "string"
          },
          "next_payment_date" : {
            "description" : "The date and time of the next payment for this tier.",
            "example" : "2025-06-14T13:48:56+00:00",
            "format" : "date-time",
            "type" : "string"
          },
          "status" : {
            "$ref" : "#/components/schemas/Tier_status"
          },
          "pending_downgrade_package" : {
            "$ref" : "#/components/schemas/Tier_pending_downgrade_package"
          }
        }
      },
      "PackageMedia" : {
        "properties" : {
          "type" : {
            "enum" : [ "video", "image" ],
            "example" : "image",
            "type" : "string"
          },
          "name" : {
            "description" : "A file name for the media, if applicable.",
            "example" : "e875d1010b2edb7f8c376728ab9dedfffe5bd012.jpg",
            "type" : "string",
            "nullable" : true
          },
          "url" : {
            "description" : "The URL of the package media.",
            "example" : "https://dunb17ur4ymx4.cloudfront.net/packages/images/e875d1010b2edb7f8c376728ab9dedfffe5bd012.jpg",
            "type" : "string"
          },
          "featured" : {
            "description" : "True if this media should be featured more prominently than others.",
            "example" : false,
            "type" : "boolean"
          },
          "primary" : {
            "description" : "True if this is the primary media for the package.",
            "example" : true,
            "type" : "boolean"
          }
        }
      },
      "DynamicPackagesRequest" : {
        "properties" : {
          "username" : {
            "description" : "The username of the authenticated customer the packages are being created for.",
            "example" : "TestUser",
            "type" : "string"
          },
          "category_id" : {
            "description" : "The ID of the dynamic category to populate.",
            "example" : 1234,
            "type" : "integer"
          },
          "packages" : {
            "items" : {
              "$ref" : "#/components/schemas/DynamicPackageInput"
            },
            "type" : "array"
          }
        },
        "required" : [ "category_id", "packages", "username" ]
      },
      "DynamicPackageInput" : {
        "description" : "A custom package to add to a dynamic category.",
        "properties" : {
          "name" : {
            "example" : "Package Name 1",
            "type" : "string"
          },
          "price" : {
            "example" : 10.0,
            "format" : "float",
            "type" : "number"
          },
          "slug" : {
            "example" : "package-name-1",
            "type" : "string"
          },
          "description" : {
            "example" : "This is the description",
            "type" : "string"
          },
          "image_url" : {
            "example" : "image.url/imageurl",
            "type" : "string"
          },
          "custom" : {
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Arbitrary custom key/value data to associate with the package.",
            "example" : {
              "custom-field-1" : "custom-value-1",
              "custom-field-2" : "custom-value-2",
              "custom-field-3" : "custom-value-3"
            }
          }
        },
        "required" : [ "name", "price", "slug" ]
      },
      "DynamicPackagesResponse" : {
        "properties" : {
          "message" : {
            "example" : "Dynamic packages created successfully.",
            "type" : "string"
          }
        }
      },
      "ModulesResponse" : {
        "properties" : {
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Module"
            },
            "type" : "array"
          }
        },
        "required" : [ "data" ]
      },
      "Module" : {
        "discriminator" : {
          "mapping" : {
            "top_customer" : "#/components/schemas/TopCustomerModule",
            "textbox" : "#/components/schemas/TextboxModule",
            "recent_payments" : "#/components/schemas/RecentPaymentsModule",
            "featured_package" : "#/components/schemas/FeaturedPackageModule",
            "giftcard_balance" : "#/components/schemas/GiftcardBalanceModule",
            "server_status" : "#/components/schemas/ServerStatusModule",
            "payment_goal" : "#/components/schemas/PaymentGoalModule",
            "community_goal" : "#/components/schemas/CommunityGoalModule"
          },
          "propertyName" : "type"
        },
        "oneOf" : [ {
          "$ref" : "#/components/schemas/TopCustomerModule"
        }, {
          "$ref" : "#/components/schemas/TextboxModule"
        }, {
          "$ref" : "#/components/schemas/RecentPaymentsModule"
        }, {
          "$ref" : "#/components/schemas/FeaturedPackageModule"
        }, {
          "$ref" : "#/components/schemas/GiftcardBalanceModule"
        }, {
          "$ref" : "#/components/schemas/ServerStatusModule"
        }, {
          "$ref" : "#/components/schemas/PaymentGoalModule"
        }, {
          "$ref" : "#/components/schemas/CommunityGoalModule"
        } ]
      },
      "TopCustomerModule" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/ModuleBase"
        }, {
          "properties" : {
            "type" : { },
            "data" : {
              "$ref" : "#/components/schemas/TopCustomerData"
            }
          },
          "required" : [ "data" ]
        } ]
      },
      "TopCustomerData" : {
        "properties" : {
          "header" : {
            "example" : "Top Customer",
            "type" : "string"
          },
          "username" : {
            "example" : "Test",
            "type" : "string"
          },
          "username_id" : {
            "description" : "User identifier.",
            "example" : "d8d5a9237b2043d8883b1150148d6955",
            "type" : "string"
          },
          "total" : {
            "description" : "Optional, present depending on module configuration.",
            "type" : "number"
          }
        },
        "required" : [ "header", "username", "username_id" ]
      },
      "TextboxModule" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/ModuleBase"
        }, {
          "properties" : {
            "type" : { },
            "data" : {
              "$ref" : "#/components/schemas/TextboxData"
            }
          },
          "required" : [ "data" ]
        } ]
      },
      "TextboxData" : {
        "properties" : {
          "header" : {
            "example" : "Modules",
            "type" : "string"
          },
          "text" : {
            "description" : "HTML supported.",
            "example" : "You can configure the sidebar of your webstore by going to <strong>Webstore</strong> &gt; <strong>Design</strong> &gt; <strong>Modules</strong>.",
            "type" : "string"
          }
        },
        "required" : [ "header", "text" ]
      },
      "ModuleBase" : {
        "properties" : {
          "id" : {
            "format" : "int64",
            "type" : "integer"
          },
          "type" : {
            "description" : "Discriminator for module kind.",
            "type" : "string"
          },
          "start_time" : {
            "format" : "date-time",
            "type" : "string"
          },
          "end_time" : {
            "description" : "Nullable; when null the module is ongoing.",
            "format" : "date-time",
            "nullable" : true,
            "type" : "string"
          },
          "data" : {
            "description" : "Type-specific payload.",
            "type" : "object"
          }
        },
        "required" : [ "data", "id", "start_time", "type" ]
      },
      "RecentPaymentsModule" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/ModuleBase"
        }, {
          "properties" : {
            "type" : { },
            "data" : {
              "$ref" : "#/components/schemas/RecentPaymentsData"
            }
          },
          "required" : [ "data" ]
        } ]
      },
      "RecentPaymentsData" : {
        "properties" : {
          "header" : {
            "example" : "Recent Payments",
            "type" : "string"
          },
          "payments" : {
            "items" : {
              "$ref" : "#/components/schemas/RecentPayment"
            },
            "type" : "array"
          }
        },
        "required" : [ "header", "payments" ]
      },
      "RecentPayment" : {
        "properties" : {
          "username" : {
            "example" : "Test",
            "type" : "string"
          },
          "username_id" : {
            "example" : "d8d5a9237b2043d8883b1150148d6955",
            "type" : "string"
          },
          "package" : {
            "$ref" : "#/components/schemas/RecentPayment_package"
          },
          "created_at" : {
            "description" : "Optional, present depending on module configuration.",
            "format" : "date-time",
            "nullable" : true,
            "type" : "string"
          },
          "price" : {
            "description" : "Optional, present depending on module configuration.",
            "nullable" : true,
            "type" : "number"
          },
          "currency" : {
            "description" : "Optional, present depending on module configuration.",
            "example" : "USD",
            "nullable" : true,
            "type" : "string"
          }
        },
        "required" : [ "package", "username", "username_id" ]
      },
      "FeaturedPackageModule" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/ModuleBase"
        }, {
          "properties" : {
            "type" : { },
            "data" : {
              "$ref" : "#/components/schemas/FeaturedPackageData"
            }
          },
          "required" : [ "data" ]
        } ]
      },
      "FeaturedPackageData" : {
        "properties" : {
          "header" : {
            "example" : "Featured Package",
            "type" : "string"
          },
          "package" : {
            "$ref" : "#/components/schemas/Package"
          }
        },
        "required" : [ "header", "package" ]
      },
      "GiftcardBalanceModule" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/ModuleBase"
        }, {
          "properties" : {
            "type" : { },
            "data" : {
              "$ref" : "#/components/schemas/GiftcardBalanceData"
            }
          },
          "required" : [ "data" ]
        } ]
      },
      "GiftcardBalanceData" : {
        "properties" : {
          "header" : {
            "example" : "Giftcard Balance",
            "type" : "string"
          }
        },
        "required" : [ "header" ]
      },
      "ServerStatusModule" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/ModuleBase"
        }, {
          "properties" : {
            "type" : { },
            "data" : {
              "$ref" : "#/components/schemas/ServerStatusData"
            }
          },
          "required" : [ "data" ]
        } ]
      },
      "ServerStatusData" : {
        "properties" : {
          "header" : {
            "example" : "Server Status",
            "type" : "string"
          },
          "hostname" : {
            "example" : "play.hypixel.net",
            "type" : "string"
          },
          "port" : {
            "example" : 25565,
            "type" : "integer"
          },
          "online" : {
            "type" : "boolean"
          },
          "players" : {
            "$ref" : "#/components/schemas/Players"
          }
        },
        "required" : [ "header", "hostname", "online", "players", "port" ]
      },
      "Players" : {
        "properties" : {
          "online" : {
            "example" : 23735,
            "type" : "integer"
          },
          "max" : {
            "example" : 200000,
            "type" : "integer"
          }
        },
        "required" : [ "max", "online" ]
      },
      "PaymentGoalModule" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/ModuleBase"
        }, {
          "properties" : {
            "type" : { },
            "data" : {
              "$ref" : "#/components/schemas/PaymentGoalData"
            }
          },
          "required" : [ "data" ]
        } ]
      },
      "PaymentGoalData" : {
        "properties" : {
          "header" : {
            "example" : "Payment Goal",
            "type" : "string"
          },
          "percentage" : {
            "example" : 0,
            "maximum" : 100,
            "minimum" : 0,
            "type" : "number"
          },
          "bar_style" : {
            "enum" : [ "normal", "striped" ],
            "example" : "striped",
            "type" : "string"
          },
          "bar_animated" : {
            "example" : true,
            "type" : "boolean"
          },
          "total" : {
            "description" : "Optional, present depending on module configuration.",
            "nullable" : true,
            "type" : "number"
          },
          "target" : {
            "description" : "Optional, present depending on module configuration.",
            "nullable" : true,
            "type" : "number"
          }
        },
        "required" : [ "bar_animated", "bar_style", "header", "percentage" ]
      },
      "CommunityGoalModule" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/ModuleBase"
        }, {
          "properties" : {
            "type" : { },
            "data" : {
              "$ref" : "#/components/schemas/CommunityGoalData"
            }
          },
          "required" : [ "data" ]
        } ]
      },
      "CommunityGoalData" : {
        "properties" : {
          "header" : {
            "example" : "Community Goal",
            "type" : "string"
          },
          "bar_style" : {
            "enum" : [ "normal", "striped" ],
            "example" : "normal",
            "type" : "string"
          },
          "bar_animated" : {
            "example" : true,
            "type" : "boolean"
          },
          "percentage" : {
            "example" : 100,
            "maximum" : 100,
            "minimum" : 0,
            "type" : "number"
          },
          "total_payments" : {
            "description" : "Optional, present depending on module configuration.",
            "nullable" : true,
            "type" : "number"
          },
          "target" : {
            "description" : "Optional, present depending on module configuration.",
            "nullable" : true,
            "type" : "number"
          },
          "times_achieved" : {
            "description" : "Optional, present depending on module configuration.",
            "nullable" : true,
            "type" : "integer"
          }
        },
        "required" : [ "bar_animated", "bar_style", "header", "percentage" ]
      },
      "createBasket_request" : {
        "properties" : {
          "complete_url" : {
            "description" : "A URL the user can return to when checkout is completed.",
            "example" : "https://example.tebex.io/thank-you",
            "type" : "string"
          },
          "cancel_url" : {
            "description" : "A URL the user can return to when cancelling checkout.",
            "example" : "https://tebex.io/",
            "type" : "string"
          },
          "custom" : {
            "description" : "Custom data you wish to associate with the basket. This data will be included with webhook responses and GET requests associated with the Basket.",
            "example" : {
              "foo" : "bar"
            },
            "type" : "object"
          },
          "complete_auto_redirect" : {
            "description" : "True if the user should automatically be redirected to the relevant complete/cancel URL",
            "example" : true,
            "type" : "boolean"
          }
        }
      },
      "applyCreatorCode_request" : {
        "properties" : {
          "creator_code" : {
            "example" : "Academy10",
            "type" : "string"
          }
        }
      },
      "applyCreatorCode_200_response" : {
        "properties" : {
          "success" : {
            "example" : true,
            "type" : "boolean"
          },
          "message" : {
            "example" : "Creator code applied successfully",
            "type" : "string"
          }
        }
      },
      "applyGiftCard_200_response" : {
        "properties" : {
          "success" : {
            "example" : true,
            "type" : "boolean"
          },
          "message" : {
            "example" : "Gift card applied successfully",
            "type" : "string"
          }
        }
      },
      "removeGiftCard_request" : {
        "properties" : {
          "card_number" : {
            "example" : "0127 0244 7210 1111",
            "type" : "string"
          }
        }
      },
      "applyCoupon_200_response" : {
        "properties" : {
          "success" : {
            "example" : true,
            "type" : "boolean"
          },
          "message" : {
            "example" : "Coupon applied successfully",
            "type" : "string"
          }
        }
      },
      "addBasketPackage_request" : {
        "properties" : {
          "package_id" : {
            "example" : 6276316,
            "type" : "string"
          },
          "quantity" : {
            "example" : 1,
            "type" : "integer"
          },
          "dynamic" : {
            "description" : "Set to `true` when adding a package that belongs to a dynamic category. When omitted, the API acts as if a normal package ID was provided.",
            "example" : false,
            "type" : "boolean"
          }
        },
        "required" : [ "package_id", "quantity" ]
      },
      "removeBasketPackage_request" : {
        "properties" : {
          "package_id" : {
            "example" : 6276316,
            "type" : "string"
          }
        }
      },
      "updatePackageQuantity_request" : {
        "properties" : {
          "quantity" : {
            "example" : 1,
            "type" : "integer"
          }
        }
      },
      "updateTier_request" : {
        "properties" : {
          "package_id" : {
            "example" : 6834822,
            "type" : "integer"
          }
        }
      },
      "BasketAuthResponse_inner" : {
        "properties" : {
          "name" : {
            "example" : "FiveM",
            "type" : "string"
          },
          "url" : {
            "example" : "https://ident.tebex.io/",
            "type" : "string"
          }
        }
      },
      "Package_category" : {
        "properties" : {
          "id" : {
            "example" : 2678660,
            "type" : "integer"
          },
          "name" : {
            "example" : "Packages",
            "type" : "string"
          }
        }
      },
      "BasketPackage_in_basket" : {
        "properties" : {
          "quantity" : {
            "description" : "The quantity of `package` in this basket. This is not the total quantity of overall items in the basket.",
            "example" : 2,
            "type" : "integer"
          },
          "price" : {
            "format" : "float",
            "type" : "number"
          },
          "gift_username_id" : {
            "description" : "The username id of the user this package is gifted to",
            "type" : "string"
          },
          "gift_username" : {
            "description" : "The username of the user this package is gifted to.",
            "type" : "string"
          }
        }
      },
      "Tier_status" : {
        "properties" : {
          "id" : {
            "example" : 2,
            "type" : "integer"
          },
          "description" : {
            "example" : "Active",
            "type" : "string"
          }
        }
      },
      "Tier_pending_downgrade_package" : {
        "description" : "The package this tier is downgrading to if a downgrade is pending.",
        "properties" : {
          "id" : {
            "example" : 6834820,
            "type" : "integer"
          },
          "name" : {
            "example" : "Bronze",
            "type" : "string"
          }
        },
        "nullable" : true
      },
      "RecentPayment_package" : {
        "properties" : {
          "name" : {
            "example" : "Example Package",
            "type" : "string"
          }
        },
        "required" : [ "name" ]
      }
    },
    "securitySchemes" : {
      "basicAuth" : {
        "scheme" : "basic",
        "type" : "http"
      }
    }
  }
}